/* Styles par défaut */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header,
footer,
section {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.logo img {
    width: 100px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
    /* Pas de marge à droite pour le dernier élément */
}

.menu a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: red;
}

h1 {
    margin: 0;
}

h2 {
    color: red;
}

section {
    margin-bottom: 30px;
    width: 90%;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.about-image {
    width: 30%;
    margin-right: 20px;
}

.about-text {
    flex-grow: 1;
    max-width: 40%;
}

.about-text h2 {
    margin-top: 0;

}

#projects {

    margin: 0 auto;
}

.affichage-projet {
    display: flex;
    margin: 0 auto;
}

.project {
    display: inline-block;
    width: 40%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    margin: 0;
    padding: 10px;
    justify-content: center;
    color: red;
}

.project ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project ul li {
    padding: 5px 10px;
    color: black;
}

.project p {
    padding: 10px;
}

.project a {
    display: block;
    background-size: cover;
    color: red;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.project a:hover {
    opacity: 0.8;
}

#skills {
    margin-bottom: 30px;
    width: 80%;
    margin: 0 auto;
    display: flex;

    /* align-items: center;*/
    justify-content: space-between;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}



@media only screen and (max-width: 768px) {

    header,
    footer,
    section {
        padding: 10px;
    }

    .menu {
        display: inline-block;
        text-align: center;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
    }

    #about {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        /* justify-content: space-evenly; */
    }

    .about-image {
        width: 80%;
        margin: 0 auto;
    }

    .about-text {
        flex-grow: 1;
        max-width: 85%;
    }

    .project {
        width: 85%;
        margin-bottom: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        gap: 10px;
        overflow: hidden;
    }

    .project ul li {
        padding: 5px 10px;
        color: black;
    }

    #skills {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}